<component name="ArtifactManager">
  <artifact type="jar" name="server">
    <output-path>$PROJECT_DIR$/classes/artifacts/server</output-path>
    <root id="archive" name="Socket_Programming_Assigment1.jar">
      <element id="module-output" name="Socket_Programming_Assigment1" />
    </root>
  </artifact>
</component>